<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/learn.css">
    <title>TeamLearn-Learn</title>
</head>
<body>
    <header>
        <div class="topnav">
            <a class="active" href="./learn.html">Learn</a>
            <a href="./contact.html">Contact</a>
            <a href="./about.html">About</a>
            <a href="./index.html">Home</a>
        </div>
    </header>

    <br/>
    <br/>
    <br/>

    <main>
        <div class="container-all-courses">
            <div class="container-courses-main-page">
                <div class="course-main-page">
                    <a class="course-link-main-page" href="./learn.html">
                        <div class="course-image-main-page">
                            <img src="../../assets/Images/logo-c-1.png" alt="c-img" id="c-course-c-img">
                        </div>
                        <div class="course-overview">
                            <h2 id="course-title">C</h2>
                            <p id="course-subjects">
                                Our C course will teach you everything from<br/>
                                data types, arrays, conditional statements, loops,<br/>
                                pointers, structures and more
                            </p>
                        </div>
                        <br/>
                        <div class="course-goto-link">
                            <span class="course-goto-link-btn">
                                Goto Course
                            </span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </main>


    <footer>

    </footer>
</body>
</html>