#c {
    max-width: 250%;
    max-height: 250%;
    border-radius: 55px;
    border: 2px solid lightblue;
    padding: 20px;
    width: 10%;
    height: 10%;
}

#c:hover {
    max-width: 250%;
    max-height: 250%;
    border-radius: 55px;
    border: 2px solid #bbf3ff;
    padding: 20px;
    width: 10%;
    height: 10%;
}

.what-courses {
    font-family: sans-serif;
    text-align: center;
}

#python {
    max-width: 300%;
    max-height: 300%;
    border-radius: 55px;
    border: 2px solid lightblue;
    padding: 20px;
    width: 245%;
    height: 245%;
}

.course-main-page {
    margin-left: 6em;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
}

.course-link-main-page {
    font-family: serif;
    text-decoration: none;
    color: black;
}

.course-link-main-page {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.course-overview {
    align-items: center;
    font-family: monospace;
}

.course-goto-link-btn {
    padding: 15px 22px;
    background: #1ABC9C;
    border-radius: 100px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: 2px solid white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-family: sans-serif
}

.course-goto-link-btn:hover {
    background: white;
    color: black;
    border: 2px solid #1ABC9C;
    transition: all 0.7s;
}

.container-all-courses {
    display: grid;
    grid-template-columns: min-content;
}

#course-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#learn-course-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 55px;
    border: 2px solid lightblue;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.learn-course ul {
    list-style: none;
    display: inline;
}

.learn-course {
    margin-left: 6em;
}

.c-course {
    margin-left: 10em;
    margin: 50px;
}

.course-c-container {
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
}

#leftbox {
    float: left;
}

#middlebox {
    float: left;
}

#rightbox {
    float: right;
}

.python-course {
    display: block;
}